@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals if needed */
body {
    @apply bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
}
